#background{
	background-image: url("../img/space.jpg");
	height: 800px;
	width: 800px;
	position: relative;
	display: flex;
	justify-content: center;
}
#Board{
	background-color: #cafffd;
	width:120px;
	height:50px;
	position: absolute;
	left: 340px;
	top: 50px;
	border-radius: 5px;
	font-family: 'Space Mono', monospace;
	text-align: center;
}
#newScore{
	width:120px;
	height:25px;
	position: absolute;
	margin: 0 auto;
}
#hero{
	background-image: url("../img/hero.png");
	height:50px;
	width:50px;
	position:absolute;
    top: 700px;
    left: 380px;
}
.enemy{
	background-image: url("../img/enemy.png");
	height:50px;
	width:50px;
	position:absolute;
}
/* Missile div block to cover same as back-ground of picture*/
#missiles{ 
	height: 800px;
	width: 800px;
	position: absolute;
	overflow-y: hidden;
}
/* Missile Image that will be shown on screen*/
.missile{
	background-image: url("../img/missile.png");
	height:16px;
	width:10px;
	position: absolute;
}
#enemies{
	height: 800px;
	width: 800px;
	position: absolute;
	overflow-y: hidden;
}
#boss{
	background-image: url("../img/invaders.png");
	height:200px;
	width: 200px;
	background-size: contain; 
	position: absolute;
	left: calc(50% - 100px);
	visibility: hidden;
}
#missilesBoss{ 
	height: 800px;
	width: 800px;
	position: absolute;
	overflow-y: hidden;
}
/* Missile Image that will be shown on screen*/
.missileBoss{
	background-image: url("../img/missile.png");
	height:16px;
	width:10px;
	position: absolute;
}
#health{
	width: 200px;
	height: 12px;
	background-color: white;
	border: 3px solid black
	background-size: contain; 
	position: absolute;
	left: 301px;
	border-radius: 7px;
	visibility: hidden;

}
#hp{
	width: 190px;
	height: 10px;
	background-color: red;
	background-size: contain; 
	position: absolute;
	left: calc(50% - 100px);
	border-radius: 7px;
	visibility: hidden;
	margin-top: 1px;
	margin-left: 4px;
}
#txt{
	width: 100px;
	height: 30px;
	margin-right: 5px;
	background-color: white;
	border: 2px solid black;
	padding-left: 10px;
	font-family: 'Space Mono', monospace;
	font-size: 20px;
	display: block;
	position: absolute;
	margin-top:10px;
}